[Unit]
Description=Run Startup Management Scripts at Boot
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/gfex-programs/run-init-management-scripts.sh
RemainAfterExit=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
