[Unit]
Description=Resize Root Filesystem on First Boot
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/lib/gfex-programs/run-init-resize-rootfs.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
