[Unit]
Description=[gfex-init] Run Ironman I2C Polling Script
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/lib/gfex-programs/run-init-ironman.sh
RemainAfterExit=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
